<!DOCTYPE html>
<html>
  <head>
    <title>LiveEnsure&reg; SDK</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag 'jquery-1.12.3.min' %>    
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'application' %> 
  </head>
  <body>
  	<header class="text-center">
        <h1 class="heading"> LiveEnsure <sup> &reg; </sup>. Live.</h1>
        <p class="sub-heading"> Real-time authentication solution demo with your mobile device. </p>
    </header>
    <%= yield %>
    <div class="row">
      <footer class='col-sm-12'>
          <center>
              <h6>SDK Version: {{version}}</h6>
              <h6> &copy; 2016 LiveEnsure Inc.</h6>
          </center>
      </footer>
    </div>
  </body>
</html>
